:root {
  --color-accent: rgb(230, 230, 250);
}
html{
  accent-color: var(--color-accent);
}
body {
  /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
  font: 100%/1.5 system-ui;
  padding: 0.5em;
  margin-inline: auto;
  text-decoration: none;
  /* text-align: center; */
  /* width: 100%;
  box-sizing: border-box; */
  max-width: 130ch;
}
nav{
  display: flex;
  color: inherit;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}
nav ul {
  padding: 100px;
  display: contents;
}
nav li{
  display: contents;
}
nav a{
  flex: 1;
  text-decoration: none;
}
nav a.current{
  border-bottom-width: 1px;
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.4rem;
}
nav a:hover {
  font-size: 18px;
  background-color: oklch(from var(--color-accent) 95% 5% h)
}
.image{
  position: relative;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0.5em;
  height: 150px;
  width: 150px;
  object-fit: cover;
  top: 0px;
  /* margin: 0px 0px 100px 0px; */
  float: right;
}
.info {
  display: flex;
  text-align: center;
  padding: 3em 0em 2.5em 0em;
  /* margin-bottom: 30px; */
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #90858f;
  text-decoration: none;
}
.info ul{
  /* padding: 100px; */
  flex: 1;
  /* display: contents; */
  text-decoration: none;
}
.info li{
  /* display: contents; */
  text-decoration: none;
  flex: 1;
}
.info a{
  color: inherit;
  /* display: contents; */
  flex: 1;
  text-decoration: none;
}

article section p {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space school and time apart */
  align-items: center; /* Align items vertically in the center */
}

article section p time {
  margin-left: auto; /* Push the time element to the far right */
}
